.addpost-title{
    margin: 50px 0px;
}
.submit-btn{
    margin-left: 280px;
}
#no-image-selected{
    max-width: 200px;
    max-height: 200px;
}
#image-preview{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
    display: none;
}


/* edit_post.html css properties */

.editpost-title{
    margin: 50px 0px;
}

.submit-btn{
    margin-left: 280px;
}

#post-image-preview{
    max-width: 200px;
    max-height: 200px;
}