{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_edit_post.css') }}"/>
{% endblock %}

{% block title %}
    <title>Blog Lite | Add Post</title>
{% endblock %}

{% block jsscript -%}
    <script language="javascript" type="text/javascript">
            $(function () {
            $("#postImage").change(function () {
                $("#uploaded-image-preview").html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.png|)$/;
                if (regex.test($(this).val().toLowerCase())) {
                    if ($.browser.msie && parseFloat(jQuery.browser.version) <= 9.0) {
                        $("#post-image-preview").hide();
                        $("#uploaded-image-preview").show();
                        $("#uploaded-image-preview")[0].filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = $(this).val();
                    }
                    else {
                        if (typeof (FileReader) != "undefined") {
                            $("#post-image-preview").hide();
                            $("#uploaded-image-preview").show();
                            $("#uploaded-image-preview").append("<img height='200px' width='200px'/>");
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $("#uploaded-image-preview img").attr("src", e.target.result);
                            }
                            reader.readAsDataURL($(this)[0].files[0]);
                        } else {
                            alert("This browser does not support FileReader.");
                        }
                    }
                } else {
                    alert("Please upload a valid image file.");
                }
            });
        });
    </script>
{% endblock -%}


{% block content %}
    <div class="d-flex justify-content-center">
        <div class="editpost-title">
            <h3>Update a Blog / Post</h3>
        </div>
    </div>

    <div class="editpost-container d-flex justify-content-center">
        <div>
            <form action="{{ url_for('edit_post', username = username, post_id = post.post_id) }}" 
                    method="POST" class="editpostform" enctype=multipart/form-data> 
                <div class="row mb-3">
                    <label for="postName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="postName" name="postname" value="{{ post.post_name }}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="postCaption" class="col-sm-2 col-form-label">Caption / Description</label>
                    <div class="col-sm-9">
                        <textarea rows="4" cols="50" class="form-control" id="postCaption" name="postcaption">{{ post.post_caption }}</textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="postImage" class="col-sm-2 col-form-label">Upload Image</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="file" id="postImage" name="postimage">
                    </div>
                </div>
                <div class="row mb-3 submit-btn">
                    <div class="col-sm-1">
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </form>
        </div>
        <div>
            <center><p>Image Preview</p></center>
            <img src="{{ url_for('renderimage', image_id=post.post_id) }}" id="post-image-preview"/>
            <div id="uploaded-image-preview"></div>
        </div>
    </div>

{% endblock %}