{% extends "base.html" %}

{% block head -%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}"/>
{% endblock -%}

{% block title -%}
    <title>Blog Lite | Home</title>
{% endblock -%}

{% block jsscript -%}

{% endblock -%}

{% block content -%} 
    {% if feed -%}
        <div class="nesting-all-posts-container">
            <div class="all-posts-container">
                {% for post in feed %}
                <div class="posts-container">
                    <div class="card h-100">
                        <div class="card-header">
                            <h6 class="card-title"><a href="{{ url_for('view_profile', temp_username = post.username) }}">{{ post.username }}</a></h6>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="{{ url_for('renderimage', image_id=post.post_id) }}" class="card-img-top feed-post-image" alt="...">
                        </div>
                        
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6>{{ post.post_name }}</h6>
                                <div>
                                    <span id="likes-count-{{post.post_id}}">{{ post.likes|length }}</span>
                                    {% if session['user_id'] in post.likes|map(attribute="user_id")|list %}
                                        <!-- <a href="{{ url_for('like_post', username = username, post_id = post.post_id) }}"><i class="fa-solid fa-thumbs-up"></i></a> -->
                                        <i class="fa-solid fa-thumbs-up" id="like-button-{{ post.post_id }}" onclick="like('{{username}}', '{{post.post_id}}')"></i>
                                    {% else %}
                                        <!-- <a href="{{ url_for('like_post', username = username, post_id = post.post_id) }}"><i class="fa-regular fa-thumbs-up"></i></a> -->
                                        <i class="fa-regular fa-thumbs-up" id="like-button-{{ post.post_id }}" onclick="like('{{username}}', '{{post.post_id}}')"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <p class="card-text card-caption-scroll">{{ post.post_caption }}</p>
                            <div class="collapse" id="comments-{{post.post_id}}">
                                <div class="card">
                                    <div class="card-body comment_scroll" id="comments-expanded-{{post.post_id}}">
                                        {% for comment in post.comments -%}
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <small>
                                                    <a href="{{ url_for('view_profile', temp_username = comment.user.username) }}">{{ comment.user.username }}</a>: {{ comment.text }}
                                                </small>
                                            </div>
                                            <div>
                                                <small class="text-muted">{{ comment.created_date[:-3] }}</small>
                                                {% if session['user_id'] == comment.user_id or session['user_id'] == post.user_id %}
                                                    <small><a href="{{ url_for('delete_comment', username = session['user'], comment_id = comment.comment_id) }}"><i class="fa-solid fa-trash-can"></i></a></small>
                                                {% else %}
                                                    <small><a href="javascript:void(0)" style="pointer-events: none" ><i class="fa-solid fa-trash-can"></i></a></small>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor -%}
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">
                                {% if post.comments|length > 0 -%}
                                <a data-bs-toggle="collapse" href="#comments-{{post.post_id}}" role="button">
                                    <small>View {{ post.comments|length }} Comments</small>
                                </a>
                                {% else -%}
                                <small class="text-muted">No Comments</small>
                                {% endif %}
                            </p>
                            <form class="input-group mb-3" method="post" action="{{ url_for('add_comment', username = session['user'], post_id = post.post_id) }}">
                                <input type="text" name="comment" id="comment" class="form-control" placeholder="Comment something!"/>
                                <button type="submit" class="btn btn-outline-secondary btn-sm">Comment</button>
                            </form>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ post.updated_date[0:16] }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else -%}
    <div class="empty-feed">
        <center>
            <h3>There are no posts in your feed.</h3>
            <h3>Connect with other users to see what they are posting.</h3>
        </center>
    </div>
    {% endif -%}
{% endblock -%}

{% block bottom_script -%}

<script type="text/javascript" src="{{ url_for('static', filename='js/like_post.js') }}"></script>
{% endblock -%}