<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Blog Lite | Login</title>
</head>
<body>
    <div class="head-container">
        <h1>𝔅𝔩𝔬𝔤 𝔏𝔦𝔱𝔢</h1>
        <p>Blog Lite helps you to connect and share with the people in your life.</p>
        </p>
    </div>
    {% block flashing_content -%}
      {% with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages -%}
          {% for category, message in messages -%}
          <script>
              Swal.fire({
                icon: '{{ category }}',
                text: '{{ message }}'
              });
          </script>
          {% endfor -%}
        {% endif -%}
      {% endwith -%}
    {% endblock -%}

    <div class="outer-container">
        <div class="blogliteimage">
            <img src="{{ url_for('static', filename='images/blogliteimg.png') }}">
        </div>
        
        <div class="login-container">
            <div class="box">
                <div class="heading">
                    <h1>𝔅𝔩𝔬𝔤 𝔏𝔦𝔱𝔢</h1>
                </div>
                <form class="login-form" action="{{ url_for('login') }}" method="POST">
                    <div class="field">
                        <input id="username" type="name" placeholder="username" name="username" value="{{ formdata['username'] if formdata }}" required/>
                        <label for="username">Username</label>
                    </div>
                    <div class="field">
                        <input id="password" type="password" placeholder="password" name="password" required/>
                        <label for="password">Password</label>
                    </div>
                    <button class="login-button" title="login">Log In</button>
                    <div class="separator">
                        <div class="line"></div>
                    </div>
                    <div class="other">
                        <a class="forgot-password" href="#">Forgot password?</a>
                    </div>
                </form>
            </div>
            <div class="box">
                <p>Don't have an account? <a class="signup" href="{{ url_for('signup') }}">Sign Up</a></p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2023 Blog Lite</p>
      </div>
</body>
</html>