{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}"/>
{% endblock %}

{% block title %}
    <title>Blog Lite | My Profile</title>
{% endblock %}

{% block jsscript %}
<script>
    function myFunction() {
        document.getElementById("profileDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
        }
        }
    }
    }

    function profileDeleteAlert(username, post_id){
        swal.fire({
                    title: "Are you sure?",
                    text: "All the profile data and profile will be deleted permanantly!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33'
                    
            }).then((isConfirm) => {
                if (isConfirm.value === true) {
                    window.location = "{{ url_for('delete_profile', username = username) }}";

                }
        });
    }
</script>

{% endblock %}

{% block content %}
<div class="profile-container d-flex align-items-center justify-content-center">
    {% if default_profilepic -%}
        <img src="{{ url_for('static', filename='images/blank-profile-picture.png') }}" class="profileImage" id="profileImage" />
    {% else -%}
        <img src="{{ url_for('renderprofilepic', username = username) }}" class="profileImage" id="profileImage" />
    {% endif %}
    <div>
        <div class="d-flex flex-row">
            <h3 class="ms-5 h3-username">{{ username }}</h3>
            <a href="{{ url_for('edit_profile', username = username) }}"><button type="button" class="btn btn-secondary edit-profile-btn">Edit Profile</button></a>
            <div class="dropdown">
            <button type="button" class="btn btn-outline-secondary dropbtn" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true" onclick="myFunction()"></i></button>
            <div id="profileDropdown" class="dropdown-content">
                <a href="{{ url_for('view_archived_posts') }}">Archived</a>
                <a href="javascript:;" onclick="profileDeleteAlert('{{username}}')">Delete profile</a>
              </div>
            </div>
        </div>
        <div class="d-flex mt-4">
            <h6 class="ms-5"><b>{{ posts|length }}</b> Posts</h6>
            <a href="{{ url_for('view_followers', username = username) }}"><h6 class="ms-5"><b>{{ followers_count }}</b> Followers</h6></a>
            <a href="{{ url_for('view_following', username = username) }}"><h6 class="ms-5"><b>{{ following_count }}</b> Following</h6></a>
        </div>
    </div>
</div>
    <center><hr></center>
    {% if posts|length %}
        <!-- <div class="container-fluid profile-posts">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-3 post-container">
                    <img src="{{ url_for('renderimage', image_id=post.post_id) }}" class="userpost"/><br>
                </div>
                <div class="col md 1"></div>
                {% endfor %}
            </div>
        </div> -->
        <div class="nesting-all-posts-container">
            <div class="all-posts-container">
                {% for post in posts %}
                <div class="posts-container">
                    <a href="{{ url_for('view_post', username = username, post_id = post.post_id) }}"><img src="{{ url_for('renderimage', image_id=post.post_id) }}" class="post-images"/></a>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <div class="no-posts">
        <center>
            <img src="https://icon-library.com/images/photo-icon-png/photo-icon-png-1.jpg" width="70px" height="70px">
            <h5>When you share photos & videos, they'll appear on your profile.</h5>
            <h5><a href="{{ url_for('addpost', username = username) }}">Share your first photo or video.</a></h5>
        </center>
    </div>
    {% endif %}
{% endblock %}