<table>
      <thead>
            <th>Resource</th>
            <th>Error Code</th>
            <th>Message</th>
      </thead>
      <tbody>
            <tr>
                  <td>Resource</td>
                  <td>Error Code</td>
                  <td>Message</td>
            </tr>
      </tbody>
</table>



<!-- {% block head -%}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock -%} -->



<!-- {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
            <ul class=flashes>
                  {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="width: 90%;">
                              <strong>{{ message }}</strong>
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                  {% endfor %}
            </ul>
      {% endif %}
{% endwith %} -->